* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif !important;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  color: #000;
  /* Höhe des fixierten Headers/Navbars */

}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.navbar {
  transition: all 0.4s;
  background-color: white;
  border-bottom: 1px solid #000;
}

.navbar .nav-link {
  color: #000000;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #000000;
  border-radius: 6px;
  border: #000 3px solid;
  border-color:#ff5100ee ;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: hsl(0, 0%, 0%);
}

/* Change navbar styling on scroll */
.navbar.active {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #000000;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
      background: #ffffff;
  }

  .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
      display: block;

  }
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
  font-size: 0.9rem !important;
  
}


#platforms,
#access {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
  border-bottom: 1px solid #000;
  /* Dünne schwarze Linie unten */
}

.platforms-container,
.access-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.platform-text,
.access-text {
  max-width: 500px;
  margin: 20px;
  text-align: left;
}

.platform-text img,
.access-text img {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}

.platform-text h2,
.access-text h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.platform-text p,
.access-text p {
  font-size: 1.2em;
  color: #666;
}

.platform-image,
.access-image {
  max-width: 600px;
  margin: 20px;
}

.platform-image img,
.access-image img {
  width: 100%;
  height: auto;
}

#how-it-works {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
  border-bottom: 1px solid #000;
  /* Dünne schwarze Linie unten */
  margin-top: 40px;
}

.how-it-works-container {
  max-width: 800px;
  margin: 0 auto;
}

#how-it-works h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

#how-it-works p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 40px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}


#testimonials {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
  border-bottom: 1px solid #000;
  /* Dünne schwarze Linie unten */
}

.testimonials-container {
  max-width: 1000px;
  margin: 0 auto;
}

#testimonials h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

#testimonials p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 40px;
}

.testimonial-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(45% - 40px);
  /* Adjust width for spacing */
  max-width: calc(45% - 40px);
  /* Adjust width for spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial p {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.testimonial h4 {
  font-size: 1em;
  color: #333;
}





#platforms {
  background-color: #f9f9f9;
  padding: 100px 20px;
  text-align: center;
}

.platforms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.platform-text {
  max-width: 500px;
  margin: 20px;
  text-align: left;
}

.platform-text img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.platform-text h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.platform-text p {
  font-size: 1.2em;
  color: #666;
}

.platform-image {
  max-width: 600px;
  margin: 20px;
}

.platform-image img {
  width: 100%;
  height: auto;
}







#pricing {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
  border-bottom: 1px solid black;
}

.pricing-container {
  max-width: 1000px;
  margin: 0 auto;
}

#pricing h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

#pricing p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 40px;
}

.pricing-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pricing-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(30% - 20px);
  /* Adjust width for spacing */
  max-width: calc(30% - 20px);
  /* Adjust width for spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-card.highlighted {
  background-color: #e6f7ff;
}

.pricing-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #666;
}

.pricing-card h4 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.pricing-card p {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.pricing-card ul li {
  font-size: 1em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.pricing-card ul li .cross {
  color: #ff0000;
  margin-right: 5px;
}

.pricing-card button {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}

.pricing-card.highlighted button {
  background-color: #007bff;
}


#feature-section {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;

  /* Dünne schwarze Linie unten */
  margin-top: 10px;
  padding: 40px 20px;
  background-color: white;
}

.feature-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.feature-image img {
  margin-top: 50px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}

.feature-text {
  flex: 1;
}

.feature-text h2 {
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.feature-box {
  background-color: #ffffff;
  border-radius: 6px;
  /* Macht die Ecken des Rahmens rund */
  border: 2px solid black;
  /* Fügt einen unteren Rahmen hinzu */
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.feature-icon {
  font-size: 30px;
  color: #ff6600;
}

.feature-content h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.feature-content p {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .feature-container {
    flex-direction: column;
    text-align: center;
  }

  .features {
    grid-template-columns: 1fr;
  }
}

/* Rating */
.rating-flex-box {
  background-color: #2d2a30;
  margin: 40px;
  padding: 40px;
  border-radius: 5px 1.5%;
  border-width: 5px;
  border-style: solid;
  border: 4px solid #eee;
  box-shadow: 0 0 1px #eee;

}

#rating-header {
  text-align: center;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.rating-ground {
  width: 100%;
  height: 100%;
  padding-bottom: 2%;
}


/* Footer */
.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

/* Credit to https://epicbootstrap.com/snippets/footer-with-columns */

/*************footer End*****************/





/* Responsive Design */
@media all and (max-width: 768px) {
}

@media (max-width: 768px) {
  .feature-container {
    flex-direction: column;
    text-align: center;
  }

  .features {
    grid-template-columns: 1fr;
  }
}



/* Responsive Design */
@media all and (max-width: 992px) {
  .navbar .toggle_btn {
    display: block;
    cursor: pointer;
    color: black;
  }
}

/* Layout-Anpassungen für Tablets und kleinere Laptops */
@media (max-width: 768px) {
  .feature-container {
    flex-direction: column;
    text-align: center;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .platforms-container,
  .access-container {
    flex-direction: column;
    text-align: center;
  }

  .platform-text,
  .access-text {
    max-width: 100%;
  }

  .platform-image img,
  .access-image img {
    width: 90%;
    margin: 0 auto;
  }
}

/* Layout für Mobilgeräte */
@media (max-width: 576px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .navbar .links a {
    font-size: 1rem;
  }

  .navbar .toggle_btn {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  /* Vollbild-Layout für Features */
  .features {
    grid-template-columns: 1fr;
  }

  .feature-container {
    flex-direction: column;
    text-align: center;
  }

  .platform-text,
  .access-text {
    text-align: center;
  }

  .platform-image img,
  .access-image img {
    width: 100%;
  }

  #testimonials {
    padding: 50px 20px;
    text-align: center;
  }

  .testimonial-row {
    display: flex;
    flex-direction: column;
    /* Elemente untereinander anordnen */
    align-items: center;
    /* Zentriert die Testimonials in der Mitte */
  }

  .testimonial {
    width: 100%;
    /* Stellt sicher, dass die Testimonials die gesamte Breite nutzen */
    max-width: 600px;
    /* Optional: Begrenzung der maximalen Breite */
    margin: 10px 0;
    /* Abstand zwischen den Testimonials */
  }


  .pricing-cards {
    flex-direction: column;
  }

  .pricing-card {
    max-width: 100%;
    width: 100%;
  }
}