* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif !important;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 60px; /* Höhe des fixierten Headers/Navbars */

}

a {
  color: white;
  font-size: 1.25rem;
}

a:hover {
  color: brown;
}

header {
  position: relative;
  padding: 0 2rem;
  background-color: hsl(229, 100%, 4%);
}

/* Hero */
section#hero {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: hsl(229, 100%, 4%);
  padding-bottom: 200px;
  border-bottom: 1px solid #000; /* Dünne schwarze Linie unten */
}

#hero h1 {
  margin-bottom: 10px;
  font-size: 2em;
}

#hero p {
  margin-bottom: 40px;
  font-size: 1.2em;
}

#hero button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 40px;
}

.start-hero  {
  position: absolute;
  bottom: 60px;
  border-bottom: 1px solid #000; /* Dünne schwarze Linie unten */

}


/* 
#features {
  text-align: center;
  padding: 40px 40px;
  background-color: #fff;
  color: #333;
  margin-top: 20px;
  border-bottom: 1px solid #000; /* Dünne schwarze Linie unten 
}

#features h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

#features p {
  font-size: 1.2em;
  margin-bottom: 60px;
  color: #666;
}

.features-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  max-width: 300px;
  margin: 20px;
  text-align: center;
}

.feature img {
 width: 50px;
  height: 50px;
  margin-bottom: 20px;

}

.feature h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1em;
  color: #666;
}
 */




#platforms, #access {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
  border-bottom: 1px solid #000; /* Dünne schwarze Linie unten */
}

.platforms-container, .access-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.platform-text, .access-text {
  max-width: 500px;
  margin: 20px;
  text-align: left;
}

.platform-text img, .access-text img {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}

.platform-text h2, .access-text h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.platform-text p, .access-text p {
  font-size: 1.2em;
  color: #666;
}

.platform-image, .access-image {
  max-width: 600px;
  margin: 20px;
}

.platform-image img, .access-image img {
  width: 100%;
  height: auto;
}

#how-it-works {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
  border-bottom: 1px solid #000; /* Dünne schwarze Linie unten */
  margin-top: 40px;
}

.how-it-works-container {
  max-width: 800px;
  margin: 0 auto;
}

#how-it-works h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

#how-it-works p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 40px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}


#testimonials {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
  border-bottom: 1px solid #000; /* Dünne schwarze Linie unten */
}

.testimonials-container {
  max-width: 1000px;
  margin: 0 auto;
}

#testimonials h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

#testimonials p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 40px;
}

.testimonial-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(45% - 40px); /* Adjust width for spacing */
  max-width: calc(45% - 40px); /* Adjust width for spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial p {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.testimonial h4 {
  font-size: 1em;
  color: #333;
}





#platforms {
  background-color: #f9f9f9;
  padding: 100px 20px;
  text-align: center;
}

.platforms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.platform-text {
  max-width: 500px;
  margin: 20px;
  text-align: left;
}

.platform-text img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.platform-text h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.platform-text p {
  font-size: 1.2em;
  color: #666;
}

.platform-image {
  max-width: 600px;
  margin: 20px;
}

.platform-image img {
  width: 100%;
  height: auto;
}







#pricing {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.pricing-container {
  max-width: 1000px;
  margin: 0 auto;
}

#pricing h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

#pricing p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 40px;
}

.pricing-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pricing-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(30% - 20px); /* Adjust width for spacing */
  max-width: calc(30% - 20px); /* Adjust width for spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-card.highlighted {
  background-color: #e6f7ff;
}

.pricing-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #666;
}

.pricing-card h4 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.pricing-card p {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.pricing-card ul li {
  font-size: 1em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.pricing-card ul li .cross {
  color: #ff0000;
  margin-right: 5px;
}

.pricing-card button {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}

.pricing-card.highlighted button {
  background-color: #007bff;
}






.navbar {
  width: 100%;
  left: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #ffffff; /* Hintergrundfarbe der Navbar */
  z-index: 1000; /* Sicherstellen, dass die Navbar über anderen Inhalten bleibt */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
  padding: 0 20px; /* Hinzufügen von seitlichem Innenabstand */
  border-bottom: 1px solid #000; /* Dünne schwarze Linie unten */

}


.logo {
font-style: normal;
font-size: x-large;
font-weight: 600;
color: black;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  flex: 1;
  justify-content: center; /* Zentriert die Links */
}

.navbar .links a {
  color: #000000; /* Schriftfarbe der Links */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar .links a:hover {
  color: #4a90e2; /* Farbe der Links beim Hover */
}

.navbar .action_btn a {
  background-color: rgb(0, 0, 0);
  margin-inline-start: 10px;
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 5s ease;
  text-decoration: none;
  padding: 0.5rem 1rem; /* Hinzufügen von Innenabstand für den Button */
}

.navbar .action_btn a:hover {
  transform: scale(1.05);
  color: #ff4646;
}

.navbar .action_btn a:active {
  transform: scale(0.95);
}


/* Stil für den aktiven Link */
.navbar .links a.active, .navbar .links a:focus, .navbar .links a:active {
  padding: 5px;
  border-radius: 6px; /* Macht die Ecken des Rahmens rund */
  border: 2px solid rgb(0, 0, 0); /* Fügt einen unteren Rahmen hinzu */
}

/* Optional: Hover-Effekt */
.navbar .links a:hover {
  color: rgb(255, 0, 0); /* Farbe der Links beim Hover */
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-container .btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
  font-family: Arial, sans-serif;
  
}

/* Button without background */
.button-container .btn-transparent {
  background-color: transparent;
  color: black;
  border: none;
  border: 2px;
  border: 2px solid rgb(0, 0, 0); /* Fügt einen unteren Rahmen hinzu */
  
}

/* Regular button with background */
.button-container .btn-black {
  background-color: black;
  color: white;
}

/* Hover effect */
.button-container .btn-transparent:hover {
  color: rgb(255, 0, 0); /* Farbe der Links beim Hover */
}

/* Hover effect */
.button-container .btn-black:hover {
  color: rgb(255, 0, 0); /* Farbe der Links beim Hover */
}


.action_btn2 {
  background-color: rgb(0, 0, 0);
  border: 2px;
  border: 2px solid white; /* Fügt einen unteren Rahmen hinzu */
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 5s ease;
  text-decoration: none;
  padding: 0.5rem 1rem; /* Hinzufügen von Innenabstand für den Button */
  margin-block-start: -20px;
}

.action_btn2 a:hover {
  color: #ff4646;
}



#feature-section {
  border-bottom: 1px solid #000; /* Dünne schwarze Linie unten */
  margin-top: 10px;
  padding: 40px 20px;
  background-color: white;
}

.feature-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.feature-image img {
margin-top: 50px;    
width: 100%;
  max-width: 500px;
  border-radius: 8px;
}

.feature-text {
  flex: 1;
}

.feature-text h2 {
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.feature-box {
  background-color: #ffffff;
  border-radius: 6px; /* Macht die Ecken des Rahmens rund */
  border: 2px solid black; /* Fügt einen unteren Rahmen hinzu */
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.feature-icon {
  font-size: 30px;
  color: #ff6600;
}

.feature-content h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.feature-content p {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .feature-container {
      flex-direction: column;
      text-align: center;
  }

  .features {
      grid-template-columns: 1fr;
  }
}







/* Footer */
/* The footer is fixed to the bottom of the page */

.footer-distributed {
  background-color: hsl(229, 100%, 4%);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 50px 50px 60px 50px;
  margin-top: 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie';
  margin: 0;
}


.footer-distributed h3 span {
  color: rgb(235, 61, 61);
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #94a4ec;
  text-decoration: none;

}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-company-about {
  display: block;
  color: white;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3F71EA;
}

.footer-links a:hover {
  color: #3F71EA;
}

@media (max-width: 992px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/* Rating */ 
.rating-flex-box {
  background-color: #2d2a30;
  margin: 40px;
  padding: 40px;
  border-radius: 5px 1.5%;
  border-width: 5px;
  border-style: solid;
  border: 4px solid #eee;
  box-shadow: 0 0 1px #eee;

}

#rating-header{
  text-align: center;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.rating-ground {
  width: 100%;
  height: 100%;
  padding-bottom: 2%;
}

/* Openinghours */
.openinghour-flex-box {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #2d2a30;
  margin: 40px;
  padding: 20px;
}

.openinghour-left {
  width: 24%;
  border-radius: 5px 2%;
  padding: 10px;
  background-color: whitesmoke;
}

.openinghour-mid {
  width: 24%;
  border-radius: 5px 2%;
  padding: 10px;
  text-align: left;
  background-color: whitesmoke;
}

.openinghour-right {
  width: 49%;
  padding: 10px;
  text-align: center;
  border-radius: 5px 2%;
  background-color: whitesmoke;
}

#iFrame-space {
  width: 100%;
  height: 400px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.openinghour-right #iFrame {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-style: solid;
}


/* Hamburger Menu Icon */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-icon {
  font-size: 2rem;
  color: black;
  max-width: 50px;
  max-height: 50px;
}

/* Overlay Menu Styles */
.overlay-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertikale Zentrierung */
  align-items: center; /* Horizontale Zentrierung */
  gap: 20px;
  height: 100%; /* Stellt sicher, dass das gesamte Overlay genutzt wird */
}

.overlay-content a:hover {
  background-color: rgb(255, 255, 255); /* Optional: Hintergrundfarbe ändern */
  padding: 10px;
  border-radius: 6px; /* Optional: Runde Ecken beim Hover */
  transition: background-color 0.3s ease, color 0.3s ease; /* Sanfter Übergangseffekt */
}


.overlay-content a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay-content a:hover {
  color: #ff0000;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* Responsive Design */
@media all and (max-width: 768px) {
  .navbar .links,
  .navbar .button-container {
      display: none;
  }

  .menu-toggle {
      display: block;
  }

  /* When the overlay menu is open */
  .overlay-menu.active {
      width: 100%;
  }

}

@media (max-width: 768px) {
  .feature-container {
      flex-direction: column;
      text-align: center;
  }

  .features {
      grid-template-columns: 1fr;
  }

}



  /* Responsive Design */
@media all and (max-width: 992px) {
  .navbar .links {
      display: none;
  }

  .navbar .button-container {
      flex-direction: column;
      gap: 5px;
  }

  .navbar .toggle_btn {
      display: block;
      cursor: pointer;
      color: black;
  }

  .navbar .dropdown_menu {
      display: block;
      background-color: #fff;
      padding: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
}

/* Layout-Anpassungen für Tablets und kleinere Laptops */
@media (max-width: 768px) {
  .feature-container {
      flex-direction: column;
      text-align: center;
  }

  .features {
      grid-template-columns: 1fr;
  }

  .platforms-container,
  .access-container {
      flex-direction: column;
      text-align: center;
  }

  .platform-text,
  .access-text {
      max-width: 100%;
  }

  .platform-image img,
  .access-image img {
      width: 90%;
      margin: 0 auto;
  }
}

/* Layout für Mobilgeräte */
@media (max-width: 576px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }

  .navbar .links a {
      font-size: 1rem;
  }

  .button-container {
      flex-direction: column;
      gap: 5px;
  }

  .navbar .toggle_btn {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
  }
  
  
  




  .navbar .dropdown_menu {
      display: block;
      width: 100%;
      background-color: #fff;
      padding: 10px;
      position: absolute;
      top: 70px;
      left: 0;
      z-index: 999;
  }
  
  

  /* Vollbild-Layout für Features */
  .features {
      grid-template-columns: 1fr;
  }

  .feature-container {
      flex-direction: column;
      text-align: center;
  }

  .platform-text,
  .access-text {
      text-align: center;
  }

  .platform-image img,
  .access-image img {
      width: 100%;
  }

  #testimonials {
    padding: 50px 20px;
    text-align: center;
}

.testimonial-row {
    display: flex;
    flex-direction: column; /* Elemente untereinander anordnen */
    align-items: center; /* Zentriert die Testimonials in der Mitte */
}

.testimonial {
    width: 100%; /* Stellt sicher, dass die Testimonials die gesamte Breite nutzen */
    max-width: 600px; /* Optional: Begrenzung der maximalen Breite */
    margin: 10px 0; /* Abstand zwischen den Testimonials */
}


  .pricing-cards {
      flex-direction: column;
  }

  .pricing-card {
      max-width: 100%;
      width: 100%;
  }
}
