/* Allgemeine Styles */
body {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    height: 100vh;
}

.sidebar {
    align-items:center ;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: #fff;
    width: 450px;
    height: 100%;
    position: fixed;
}

/* Logo-Styles */
.logo {
    width: 250px; /* Die gewünschte Breite des Logos */
    height: auto; /* Die Höhe automatisch anpassen */
    padding-bottom: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-bottom: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.content {
    width: 100%;
    height: 100%;
    margin-left: 450px; /* Berücksichtigt die Breite der Sidebar */
    background-color: #fff;
    flex: 1; /* Lässt den Hauptinhalt den verfügbaren Raum ausfüllen */
    position: relative;
}


/* Header Styles */
header {
    color: black;
    background-color: white;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    height: 500px;
}

/* Styles für Abschnitte und Überschriften */
section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}


#home{
    background-color: blue;
}

#about{
    background-color: red;
}

#services
{
background-color: blue;
}
#pricing{
background-color: red;
}
#contact{
background-color: blue;
}
#appointment{
background-color: red;
}

/* Footer Styles */
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}
