/* Allgemeine Styles */
body {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    height: 100vh;
}

.sidebar {
    align-items:center ;
    text-align: center;
    font-size: 30px;
    background-color: white(0, 0, 0);
    color: #fff;
    width: 450px;
    height: 100%;
    position: fixed;
}

/* Logo-Styles */
.logo {
    width: 250px; /* Die gewünschte Breite des Logos */
    height: auto; /* Die Höhe automatisch anpassen */
    padding-bottom: 30px;
}
.gif {
    width: 250px; /* Die gewünschte Breite des Logos */
    height: auto; /* Die Höhe automatisch anpassen */
    padding-bottom: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-bottom: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
}

nav :hover{
    color: rgb(179, 179, 179);
}

.content {
    width: 100%;
    height: 100%;
    margin-left: 450px; /* Berücksichtigt die Breite der Sidebar */
    background-color: #fff;
    flex: 1; /* Lässt den Hauptinhalt den verfügbaren Raum ausfüllen */
    position: relative;
}


/* Header Styles */

#extra-header {
    text-align: center;
    font-size: 50px;
    padding: 20px;
    width: 100%;
    height: 50px; /* Passen Sie die Höhe nach Bedarf an */
}

#header {
    text-align: center;
    font-size: 50px;
    padding: 20px;
    background-image: url("images/JapanHoodbarber-modified.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 800px; /* Passen Sie die Höhe nach Bedarf an */
}

/* Styles für Abschnitte und Überschriften */
section {
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    
}


#about{
    color: black;
    background-color: rgb(194, 194, 194);
}

#services{
color:white;
background-color: black;
}

#pricing{
color: black;
background-color:  rgb(194, 194, 194);
}

#contact{
color: white;
background-color: black;
}

#appointment{
color: black;
background-color:  rgb(194, 194, 194);
}

/* Footer Styles */
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}
